
h2 {
  color: white;
}

.card-header {
  color: white;
}

.form-check-label {
  color: white;
}
.form-check-input {
  padding: 8px;
}
.form-checker {
  display: block;
  position: relative;
}

.card-login {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-items: center;
}
.card-login button {
  padding: 6px 151px;
  background-color: #008a56;
  border: 2px solid black;
  color: white;
}
.card-header-login h3 {
  font-family: Arial;
  font-size: 25px;
  text-align: center;
  color: white;
}
.card-header-login {
  margin-top: 100px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.card-header-add-training {
  margin-top: 100px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.card-header-add-training h3 {
  font-family: Arial;
  font-size: 25px;
  text-align: left;
  color: white;
}